*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Le header*/

#mon-header{
    display: flex;
}

#mon-header{

    background-image: url(images/Ocean-ile.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 25%;
    width: 100%;
    z-index: auto;
}

#mon-header > #ma-photo{
    z-index: 1;


    left: 80%;
    margin-right: 5%;
    margin-top: 3%;
}

#mon-header > #h1-header{

    z-index: 1;

    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline blue;

    width: 25%;
    height: auto;
    background-color: white;
    border: 1px black solid;

    top: 20%;
    left: 10%;
}


/*Réglage de la taille des images*/



.image-deco{
    height: 30% ;
    width : 30% ;
}